.pagination-container {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  margin-top: 24px;
}

.circle {
  width: 32px;
  height: 32px;
  border-radius: 50%;
  background-color: #cbcbcc;
  color: #cbcbcc;
  border: none;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  transition:
    background-color 0.3s,
    border-color 0.3s;
  margin-right: 4px;
}

.circle.active {
  background-color: #4274ba;
  color: white;
}

.line {
  width: 80px;
  height: 4px;
  border-radius: 4px;
  background-color: #cbcbcc;
  margin-right: 5px;
}

@media (max-width: 430px) {
  .circle {
    width: 24px;
    height: 24px;
    font-size: 12px;
  }
  .line {
    width: 35px;
  }
}

@media (max-width: 375px) {
  .line {
    width: 30px;
  }
}

@media (max-width: 320px) {
  .line {
    width: 20px;
  }
}
