.navigation-link {
  display: flex;
  cursor: pointer;
  align-items: center;
  gap: 12px;
  transition:
    background-color 0.1s ease-in-out,
    stroke 0.1s ease-in-out;
  height: 30px;
  padding: 8px;
  padding-left: 20px;
  border-left: 5px solid white;
}
.navigation-link.active {
  background-color: #ecf4ff;
  border-left: 5px solid #4274ba;
}
.navigation-link span {
  width: 20px;
  height: 20px;
}
.navigation-link p {
  font-size: 16px;
  color: black;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: clip;
}
.navigation_text {
  margin-left: 5px;
  font-size: 16px;
}
.hidden-class {
  display: none;
}

@media (max-width: 425px) {
  .navigation_text {
    display: none;
  }
  .navigation-link {
    width: 100%;
    padding: 8px;
    display: flex;
    justify-content: center;
    align-items: center;
    /* padding-left: 8px; */
  }
  .navigation-link.active {
    background-color: #ecf4ff;
    border-left: 0px solid #4274ba;
    background-color: white;
    padding: 8px;
  }
  .hidden-class {
    display: block;
  }
}
