.overview_root {
  padding: 24px;
max-width: 1440px;
}
.overview_header {
  width: 100%;
  padding: 35px 20px;
  box-sizing: border-box;
  height: 118px;
  border: 1px solid #cbcbcc;
  border-radius: 8px;
}
.overview_title {
  font-size: 20px;
  color: #333a41;
}
.overview_subTitle {
  font-size: 14px;
  color: #6a757e;
  font-weight: 600;
}
.overview_section {
  margin-top: 24px;
}
.overview_section_title {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 14px;
  font-weight: 700;
  color: #333a41;
}
.overview_section_subTitle {
  font-size: 14px;
  color: #6a757e;
  margin-top: 8px;
}
.overview_section_card_container {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  margin-top: 16px;
}

@media (max-width: 430px) {
  .overview_section_card_container {
    flex-direction: column;
  }
  .overview_section {
    margin-top: 0px;
  }
  .overview_header {
    display: none;
  }
}
