.evaluation_details_root {
  padding: 24px;
}
.evaluation_details_header {
  width: 100%;
  height: 164px;
  background-color: white;
  padding: 24px;
  box-sizing: border-box;
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.evaluation_details_header .top_navigation {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.evaluation_details_header .top_navigation .title {
  font-size: 20px;
  color: black;
  font-weight: 600;
  display: flex;
  align-items: center;
}
.evaluation_details_header .top_navigation .month_year_filter {
  display: flex;
  align-items: center;
}
.edit_evaluation_btn {
  background-color: #4274ba;
  padding: 15px 15px;
  color: white;
  border-radius: 8px;
  font-size: 14px;
  cursor: pointer;
  display: flex;
  align-items: center;
}
.evaluation_details_header .bottom_navigation {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.evaluation_details_search {
  width: 62%;
}
.evaluation_details_table {
  width: 100%;
  margin-top: 20px;
}
.evaluation_details_table table {
  width: 100%;
  border-collapse: collapse;
}

.evaluation_details_table th,
.evaluation_details_table td {
  padding: 20px 23px;
  text-align: left;
  color: #5e5d6f;
  box-sizing: border-box;
}

.evaluation_details_table th {
  background-color: #e9e9e9;
  font-weight: 600;
}

.evaluation_details_table tr:nth-child(odd) {
  background-color: #f9f9f9;
}
.table_controls {
  width: 100%;
  background-color: white;
  padding: 23px 19px;
  box-sizing: border-box;
  border-radius: 0px 0px 12px 12px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
