.signup_root {
  width: 100%;
  height: 100vh;
  display: flex;
}
.signup_root .left {
  width: 40%;
  height: 100%;
  background-color: #007bff;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}
.right_P_side {
  position: absolute;
  right: 0px;
  top: 0px;
}
.left_P_side {
  position: absolute;
  bottom: -5px;
  left: 0px;
}
.proficio_next_logo_large {
  height: 300px;
  position: relative;
}
.signup_root .right {
  width: 60%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow-y: auto;
  overflow-x: hidden;
}
.right_signup_content {
  max-width: 640px;
  width: 100%;
  max-height: 720px;
  height: 100%;
}
.right_signup_content.right_login_content {
  max-height: 600px;
}
.signup_title {
  font-size: 40px;
  font-weight: 600;
  color: #313131;
  padding-top: 20px;
}
.signup_subTitle {
  color: #313131;
  font-size: 16px;
  margin-top: 5px;
}
.signup_form {
  margin-top: 32px;
  padding-bottom: 20px;
}
.signup_form_item {
  display: flex;
  flex-direction: column;
  margin-bottom: 24px;
}
.signup_form_item label {
  font-size: 16px;
  font-weight: 600;
  margin-bottom: 10px;
}
.signup_form_item input {
  width: 100%;
  padding: 12px 15px;
  border-radius: 10px;
  border: 1px solid #e7ebe6;
  font-size: 16px;
  box-sizing: border-box;
}
.signup_form_item input:focus {
  outline: #007bff 1px solid;
}
.password_visibility {
  position: absolute;
  top: 12px;
  right: 15px;
}
.password_visibility_icon {
  font-size: 22px;
  cursor: pointer;
}
.password_indicator_option {
  display: flex;
  align-items: center;
  font-size: 14px;
  margin-bottom: 18px;
  margin-top: -10px;
}
.TOS_container {
  display: flex;
  align-items: center;
}
.TOS_container input {
  margin-right: 10px;
  height: 14px;
  width: 14px;
  cursor: pointer;
}
.create_acc_btn {
  display: flex;
  width: 100%;
  padding: 14px 0px;
  background-color: #007bff;
  color: white;
  align-items: center;
  justify-content: center;
  margin-top: 32px;
  cursor: pointer;
  border-radius: 6px;
  border: none;
  font-weight: bold;
}
.already_have_acc {
  text-align: center;
  margin-top: 16px;
}
.or_sign_up_with {
  display: flex;
  align-items: center;
  margin-top: 20px;
}
.or_sign_up_with hr {
  width: 35%;
  border: #e7ebe6 1px solid;
  margin-top: 10px;
}
.or_sign_up_with span {
  color: #818181;
}
.google_sign {
  width: 100%;
  padding: 10px 0px;
  border: 1px solid #e7ebe6;
  margin-top: 32px;
  box-sizing: border-box;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 6px;
}
.signup_techwings_logo {
  display: none;
}

@media (max-width: 1440px) {
  .right_signup_content {
    max-width: 540px;
  }
  .proficio_next_logo_large {
    height: 250px;
  }
  .right_P_side {
    position: absolute;
    right: 0px;
    top: 0px;
  }
  .P_side_main {
    height: 150px;
  }
}

@media (max-width: 1200px) {
  .proficio_next_logo_large {
    height: 200px;
  }
}

@media (max-width: 1085px) {
  .P_side_main {
    height: 120px;
  }
}

@media (max-width: 1024px) {
  .right_signup_content {
    max-width: 450px;
  }
  .signup_title {
    font-size: 32px;
  }
  .signup_subTitle,
  .TOS,
  .already_have_acc,
  .or_sign_up_with span {
    font-size: 14px;
  }
  .signup_form_item label,
  .signup_form_item input {
    font-size: 15px;
  }
  .password_indicator_option {
    font-size: 12px;
  }
  .create_acc_btn {
    padding: 12px 0px;
  }
  .password_visibility_icon {
    font-size: 20px;
  }
}

@media (max-width: 768px) {
  .right_signup_content {
    max-width: 380px;
  }
  .proficio_next_logo_large {
    height: 150px;
  }
  .P_side_main {
    height: 100px;
  }
  .or_sign_up_with hr {
    width: 30%;
  }
}

@media (max-width: 450px) {
  .signup_root {
    width: 100%;
    height: 100vh;
    display: flex;
  }
  .signup_root .left {
    width: 0%;
  }
  .right_P_side,
  .left_P_side,
  .proficio_next_logo_large {
    display: none;
  }
  .signup_root .right {
    width: 100%;
  }
  .right_signup_content {
    max-width: 350px;
    padding: 0px 0px 24px 0px;
    width: 100%;
  }

  .signup_title {
    font-size: 28px;
    margin-top: -50px;
  }
  .signup_subTitle,
  .TOS,
  .already_have_acc,
  .or_sign_up_with span {
    font-size: 14px;
  }
  .signup_form_item label,
  .signup_form_item input {
    font-size: 14px;
  }
  .signup_techwings_logo {
    display: block;
    position: relative;
    width: 250px;
    margin-bottom: 50px;
    padding-top: 20px;
    margin-top: 20px;
  }
  .signup_logo_absolute {
    position: absolute;
    top: -70px;
    left: -22px;
  }
}

/* Customize the scrollbar */
.signup_root .right::-webkit-scrollbar {
  width: 5px; /* Thinner scrollbar */
}

.signup_root .right::-webkit-scrollbar-thumb {
  background-color: #8d8d8d; /* Thumb color */
  border-radius: 10px; /* Rounded corners */
}

.signup_root .right::-webkit-scrollbar-thumb:hover {
  background-color: #8d8d8d; /* Thumb color on hover */
}

.signup_root .right::-webkit-scrollbar-track {
  background-color: #f1f1f1; /* Track color */
  border-radius: 10px;
}

/* Verify Account Styling */
.right_verifyAccount_content {
  max-width: 430px;
  max-height: 400px;
  width: 100%;
  height: 100%;
}
.verify_account_otp_container {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
}
.verify_account_otp_input {
  width: 60px;
  height: 65px;
  border-radius: 10px;
  text-align: center;
  font-size: 20px;
  border: 3px solid #e7ebe6;
}
.verify_account_otp_input:focus {
  outline: #007bff 3px solid;
  border: 1px solid #e7ebe6;
}
.verify_account_back_to_login {
  display: flex;
  align-items: center;
  text-align: center;
  justify-content: center;
  margin: 30px;
  color: #818181;
  cursor: pointer;
}

@media (max-width: 1024px) {
  .right_verifyAccount_content {
    max-width: 350px;
    width: 100%;
    height: 100%;
  }
  .verify_account_back_to_login {
    font-size: 14px;
  }
  .verify_account_otp_input {
    width: 50px;
    height: 55px;
    border-radius: 10px;
    text-align: center;
    font-size: 20px;
    border: 3px solid #e7ebe6;
  }
}

@media (max-width: 768px) {
  .right_verifyAccount_content {
    padding: 0px 24px;
  }
}

@media (max-width: 450px) {
  .right_verifyAccount_content {
    max-width: 350px;
    width: 100%;
    height: 100%;
    padding: 0px 24px;
  }
  .verify_account_otp_input {
    width: 50px;
    height: 58px;
  }
}

@media (max-width: 425px) {
  .verify_account_otp_input {
    width: 46px;
    height: 50px;
  }
}

@media (max-width: 375px) {
  .right_verifyAccount_content,
  .right_signup_content {
    padding: 0px 30px;
  }
  .verify_account_otp_input {
    width: 45px;
    height: 50px;
  }
}

/* Login styling */
.other_login_options {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.underline_link:hover {
  text-decoration: underline;
}
