.subTest_root {
  padding: 24px;
}
.subTest_header {
  width: 100%;
  background-color: #fafafa;
  height: 48px;
  display: flex;
  align-items: center;
}
.subTest_innner_header {
  width: 50%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 14px;
  font-weight: 700;
  color: #5e5d6f;
}
.subTest_back_btn {
  display: flex;
  align-items: center;
  cursor: pointer;
}
.left_arrow_icon {
  width: 24px;
  height: 24px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding-left: 20px;
  padding-right: 16px;
}
.evaluation_score_container {
  width: 100%;
  height: 92px;
  padding: 16px;
  box-sizing: border-box;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  border-radius: 14px;
  margin-top: 24px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.subTest_progress_bar {
  margin-right: 20px;
}
.subTest_title {
  margin-top: 24px;
  font-size: 16px;
  color: #101828;
  font-weight: 600;
}
.subTest_subTitle {
  font-size: 14px;
  color: #838383;
}
.subTest_question_type_container {
  margin-top: 24px;
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
}
