.layout_root {
  display: flex;
  flex-direction: row;
  height: 100vh;
  width: 100vw;
}
.content_wrapper {
  flex-grow: 1;
  height: 100%;
  display: flex;
  flex-direction: column;
  transition: margin 0.5s;
}
.content_wrapper.open {
  margin-left: 235px;
}
.main_content {
  flex-grow: 1;
  overflow-y: auto;
  position: relative;
}
.main_content::-webkit-scrollbar {
  display: none;
}
.main_content {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

@media (max-width: 768px) {
  .content_wrapper.open {
    margin-left: 180px;
  }
}

@media (max-width: 430px) {
  .layout_root {
    flex-direction: column;
    height: 100%;
  }
  .sidebar_mobile_container {
    position: absolute;
    bottom: 0px;
    height: 60px;
    z-index: 99;
  }
  .content_wrapper.open {
    margin-left: 0px;
  }
  .main_content {
    padding-bottom: 50px;
    padding-top: 80px;
  }
}
