/* Toast.css */
.toast_root {
  padding: 24px 24px 4px 24px;
  position: absolute;
  width: 100%;
  box-sizing: border-box;
  max-width: 1400px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.toast {
  position: absolute;
  top: 0;
  transform: translateX(-50%);
  background-color: #f3fef1;
  color: black;
  padding: 12px 20px;
  border-radius: 8px;
  opacity: 0;
  transition:
    transform 0.3s ease-in-out,
    opacity 0.3s ease-in-out;
  z-index: 1000;
  box-sizing: border-box;
  border: 1px solid #2fb01a;
}
.toast.error {
    position: absolute;
    width: 100%;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    background-color: #FFCCCC;
    color: black;
    padding: 12px 20px;
    border-radius: 8px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    opacity: 0;
    transition:
      transform 0.3s ease-in-out,
      opacity 0.3s ease-in-out;
    z-index: 1000;
    box-sizing: border-box;
    border: 1px solid red;
  }
.toast .content {
  display: flex;
  align-items: center;
}

.slide-down {
  transform: translate(-50%, 0);
  opacity: 1;
}

.slide-up {
  transform: translate(-50%, -100%);
  opacity: 0;
}
