.settings_root {
  padding: 24px;
}
.settings_tabs_root {
  display: flex;
  align-items: center;
  gap: 8px;
  background-color: #fafafa;
  width: 100%;
}
.settings_tabs {
  width: 183px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 14px;
  font-weight: 600;
  cursor: pointer;
  border-bottom: 2px solid white;
}
.settings_content_container {
  margin-top: 16px;
}
.tabs_icon {
  display: none;
}
.tab_name {
  display: block;
}

@media (max-width: 1024px) {
  .settings_content_container {
    width: 741px;
  }
  .settings_tabs {
    width: 115px;
    text-align: center;
  }
}

@media (max-width: 768px) {
  .settings_tabs {
    width: 83px;
    text-align: center;
    font-size: 12px;
  }
  .settings_content_container {
    width: 100%;
  }
}

@media (max-width: 425px) {
  .settings_root {
    padding-bottom: 50px;
  }
  .tab_name {
    display: none;
  }
  .tabs_icon {
    display: block;
    font-size: 20px;
  }
}
