.page_header_root {
  width: 100%;
  background-color: #fafafa;
  height: 48px;
  display: flex;
  justify-content: center; /* Center the entire content */
  position: relative; /* To allow absolute positioning for the back button */
  align-items: center;
}

.page_innner_header {
  width: 100%; /* Ensure it takes up the full width */
  display: flex;
  align-items: center;
  justify-content: center; /* Center the pageTitle in the middle */
  font-size: 14px;
  font-weight: 700;
  color: #5e5d6f;
  position: relative;
}

.page_back_btn {
  display: flex;
  align-items: center;
  cursor: pointer;
  position: absolute;
  left: 10px; /* Adds space from the left */
}
.pageheader_left_arrow_icon {
  padding-right: 10px;
  padding-top: 4px;
}

.left_arrow_icon {
  width: 14px;
  height: 14px;
  display: flex;
  align-items: center;
  justify-content: center;
}

/* Media queries for responsiveness */
@media (max-width: 1024px) {
  .page_innner_header {
    width: 100%; /* Full width on smaller screens */
  }
}

@media (max-width: 768px) {
  .page_innner_header {
    width: 100%;
  }
}

@media (max-width: 450px) {
  .page_innner_header {
    width: 100%;
  }

  .page_back_text {
    display: none; /* Hide text on smaller screens */
  }
}
