.subTest_root {
  padding: 24px;
}
.evaluation_score_container {
  width: 100%;
  height: 92px;
  padding: 16px;
  box-sizing: border-box;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  border-radius: 14px;
  margin-top: 24px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.subTest_progress_bar {
  margin-right: 20px;
}
.subTest_title {
  margin-top: 24px;
  font-size: 16px;
  color: #101828;
  font-weight: 600;
}
.subTest_subTitle {
  font-size: 14px;
  color: #838383;
}
.subTest_question_type_container {
  margin-top: 24px;
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
}
.subTest_question_type {
  width: 49%;
}
.current_eval_score {
  font-size: 16px;
  font-weight: 600;
}
.completed_percent {
  margin-top: 4px;
  font-size: 14px;
}

@media (max-width: 450px) {
  .subTest_question_type_container {
    flex-direction: column;
  }
  .subTest_question_type {
    width: 100%;
  }
  .current_eval_score {
    font-size: 15px;
  }
  .completed_percent {
    font-size: 13px;
  }
}
