.skill_gap_root {
  padding: 24px;
}
.skill_gap_container {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  align-items: center;
  margin-top: 24px;
}

@media (max-width: 425px) {
  .skill_gap_root {
    padding-bottom: 50px;
  }
}
