.instructions_root {
  padding: 24px;
}
.instructions_content {
  width: 100%;
  padding: 24px 16px;
  box-sizing: border-box;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  border-radius: 14px;
  margin-top: 24px;
}
.instruction_title_container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.instructions_title {
  font-size: 20px;
  font-weight: 600;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.no_of_attempts_left {
  font-size: 16px;
}
.taken_assessment_indicator {
  color: red;
  font-size: 16px;
  display: flex;
  align-items: center;
}
.instructions_subTitle {
  font-size: 14px;
  color: #838383;
  margin-bottom: 12px;
  margin-top: 5px;
}
.instructions_text {
  font-size: 16px;
}
.instructions_text_container {
  display: flex;
  align-items: baseline;
  margin-top: 10px;
}
.start_evaluation_btn_container {
  width: 100%;
  display: flex;
  align-items: flex-end;
  justify-content: flex-end;
  margin-top: 24px;
}
.start_evaluation_btn {
  width: 344px;
  background-color: #007bff;
  height: 48px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 14px;
  cursor: pointer;
  color: white;
  font-size: 16px;
}

@media (max-width: 1024px) {
  .instructions_title {
    font-size: 18px;
    font-weight: 600;
  }
  .instructions_text,
  .taken_assessment_indicator {
    font-size: 14px;
  }
}

@media (max-width: 450px) {
  .start_evaluation_btn_container {
    margin-top: 30px;
  }
  .start_evaluation_btn {
    width: 100%;
  }
  .instructions_text {
    font-size: 14px;
  }
}

/* Dark mode style  */

.instructions_root_dark .instructions_content {
  box-shadow: rgba(255, 255, 255, 0.7) 0px 1px 4px;
}
