.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: white;
  transition: all 0.5s;
  border-bottom: 1.5px solid #d1d5db;
  padding-left: 28px;
  padding-top: 15px;
  padding-bottom: 15px;
}

.header_title {
  font-size: 1.5rem;
  font-weight: bold;
}

.header_right_section {
  display: flex;
  align-items: center;
  margin-right: 1.5rem;
  height: 50px;
  justify-content: center;
  flex-direction: row;
}

.header_bell_icon {
  cursor: pointer;
  border: 1px solid #e9eaed;
  padding: 8px 8px 2px 8px;
  border-radius: 8px;
}

.bell-icon {
  width: 1.5rem;
  height: 1.5rem;
  color: #4b5563; /* text-gray-600 */
}

.notification-popup {
  position: absolute;
  top: 90px;
  right: 100px;
  z-index: 51;
}

.profile-dropdown {
  display: flex;
  align-items: center;
  gap: 5px;
}

.profile-container {
  position: relative;
  z-index: 15;
}

.profile-content {
  position: absolute;
  top: -25px;
  right: 0;
  /* width: 200px; */
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  border-radius: 1rem;
  background-color: white;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  border: 1px solid #d1d5db; /* border-gray-300 */
  justify-content: center;
}
.profile_info {
  display: flex;
  flex-direction: column;
  text-decoration: none;
}
.profile_name {
  font-size: 20px;
}
.profile-role {
  text-decoration: none;
}
.profile_dropdown_text {
  display: none;
}

@media (max-width: 430px) {
  .header {
    position: fixed;
    width: 100%;
    background-color: white;
    z-index: 99;
    box-sizing: border-box;
  }
  .header_title {
    display: none;
    background-color: white;
  }
  .profile_name {
    font-size: 16px;
  }
  .header_right_section {
    width: 100%;
    justify-content: space-between;
    flex-direction: row-reverse;
  }
  .profile-role {
    font-size: 14px;
    text-decoration: none;
  }
  .profile-dropdown {
    gap: 0px;
  }
  .profile_dropdown_text {
    display: block;
    margin-left: 4px;
  }
  .profile_dropdown_text_name {
    font-size: 16px;
    font-weight: 600;
  }
  .profile_dropdown_text_preview {
    font-size: 14px;
    color: #4b5563;
  }
}
