.hero_section_root {
  width: 100%;
  height: 868px;
  position: relative;
  overflow: hidden;
}
.hero_section_img1,
.hero_section_img2 {
  position: absolute;
  right: 0px;
  top: 0px;
  z-index: -1;
}
.hero_section_img3,
.hero_section_img4 {
  position: absolute;
  bottom: 0px;
  left: 0px;
  z-index: -1;
}
.hero_section_content {
  padding: 0px 150px;
  margin-top: 179px;
}
.hero_section_content .content_container {
  width: 605px;
}
.hero_section_content .content_title {
  font-size: 64px;
  font-weight: 700;
}
.hero_section_content .content_subTitle {
  margin-top: 24px;
  color: #6a757e;
  font-size: 24px;
  font-weight: 600;
}
.hero_section_content .download_our {
  margin-top: 24px;
  font-weight: 600;
  font-size: 16px;
  color: #6a757e;
}
.hero_section_content .download_btn_container {
  display: flex;
  justify-content: space-between;
  width: 420px;
  height: 56px;
  align-items: center;
  margin-top: 12px;
  /* background-color: red; */
}
.hero_section_content .download_btn {
  height: 100%;
  width: 175px;
  background-color: black;
  border-radius: 10px;
  color: white;
  padding: 10px 15px;
  box-sizing: border-box;
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 14px;
  cursor: pointer;
}
.hero_section_rhode1 {
  position: absolute;
  top: 169px;
  left: 150px;
  z-index: -1;
}
.hero_section_rhode2 {
  position: absolute;
  bottom: 150px;
  left: 677px;
}
.hero_section_star1 {
  position: absolute;
  left: 351px;
  bottom: 20px;
}

.full {
  font-family: 'NothingYouCouldDo';
  font-weight: 800;
  color: #007bff;
}

@font-face {
  font-family: 'NothingYouCouldDo';
  src: url('/fonts/Nothing_You_Could_Do/NothingYouCouldDo-Regular.ttf')
    format('truetype');
}

@media (max-width: 1400px) {
  .hero_section_content .content_title {
    font-size: 54px;
  }
  .hero_section_content .content_subTitle {
    font-size: 20px;
  }
}

@media (max-width: 1310px) {
  .hero_section_content .content_title {
    font-size: 50px;
  }
}

@media (max-width: 1280px) {
  .hero_section_img2_2 {
    width: 630px;
    height: 640px;
  }
  .hero_section_img1 {
    width: 670px;
    height: 560px;
  }
  .hero_section_content .content_title {
    font-size: 54px;
  }
  .hero_section_content .content_subTitle {
    font-size: 20px;
  }
  .hero_section_content .download_our {
    font-size: 14px;
  }
}

@media (max-width: 1145px) {
  .hero_section_content .content_title {
    font-size: 45px;
  }
  .hero_section_content .content_subTitle {
    font-size: 18px;
    width: 400px;
  }
}

@media (max-width: 1065px) {
  .hero_section_content .content_title {
    font-size: 40px;
    width: 400px;
  }
}

@media (max-width: 1024px) {
  .hero_section_content {
    padding: 0px 100px;
    margin-top: 179px;
  }
  .hero_section_content .content_container {
    width: 555px;
  }
  .hero_section_content .content_title {
    font-size: 50px;
    width: auto;
  }
  .hero_section_img2_2 {
    width: 530px;
    height: 540px;
  }
  .hero_section_img1 {
    width: 570px;
    height: 460px;
  }
  .hero_section_img3_3 {
    width: 120px;
    height: 400px;
  }
  .hero_section_img4_4 {
    width: 120px;
    height: 400px;
  }
  .hero_section_rhode1 {
    left: 100px;
  }
  .hero_section_root .rhodes {
    width: 48px;
    height: 72px;
  }
  .hero_section_root .star {
    width: 70px;
    height: 70px;
  }
}

@media (max-width: 960px) {
  .hero_section_content .content_title {
    font-size: 40px;
    width: 400px;
  }
}

@media (max-width: 875px) {
  .hero_section_img2_2 {
    width: 450px;
    height: 460px;
  }
  .hero_section_img1 {
    width: 490px;
    height: 380px;
  }
  .hero_section_img3_3 {
    width: 100px;
    height: 380px;
  }
  .hero_section_img4_4 {
    width: 100px;
    height: 380px;
  }
}

@media (max-width: 790px) {
  .hero_section_content {
    padding: 0px 50px;
    margin-top: 159px;
  }
  .hero_section_content .content_container {
    width: 400px;
  }
  .hero_section_content .content_title {
    font-size: 35px;
  }
  .hero_section_content .content_subTitle {
    font-size: 16px;
    width: 300px;
  }
  .hero_section_img2_2 {
    width: 430px;
    height: 440px;
  }
  .hero_section_img1 {
    width: 450px;
    height: 390px;
  }
  .hero_section_img3_3 {
    width: 90px;
    height: 350px;
  }
  .hero_section_img4_4 {
    width: 90px;
    height: 350px;
  }
  .hero_section_rhode1 {
    left: 50px;
  }
}

@media (max-width: 768px) {
  .hero_section_root {
    height: 668px;
  }
  .hero_section_content .download_btn_container {
    width: 300px;
    height: 70px;
  }
}

@media (max-width: 690px) {
  .hero_section_img2_2 {
    width: 380px;
    height: 490px;
  }
  .hero_section_img1 {
    width: 420px;
    height: 390px;
  }
  .hero_section_img3_3 {
    width: 80px;
    height: 330px;
  }
  .hero_section_img4_4 {
    width: 80px;
    height: 330px;
  }
  .hero_section_content .download_btn_container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    width: 100%;
  }
  .hero_section_content .download_btn {
    margin-bottom: 16px;
  }
}

@media (max-width: 638px) {
  .hero_section_content .content_title {
    font-size: 30px;
    max-width: 300px;
    width: 100%;
  }
  .hero_section_content .content_subTitle {
    font-size: 14px;
    max-width: 290px;
    width: 100%;
  }
  .hero_section_img2_2 {
    width: 350px;
    height: 450px;
  }
  .hero_section_img1 {
    width: 390px;
    height: 360px;
  }
}

@media (max-width: 604px) {
  .hero_section_img2_2 {
    width: 320px;
    height: 360px;
  }
  .hero_section_img1 {
    width: 330px;
    height: 300px;
  }
  .hero_section_content .content_subTitle {
    max-width: 250px;
  }
}

@media (max-width: 550px) {
  .hero_section_img2,
  .hero_section_img1 {
    display: none;
  }
}

@media (max-width: 450px) {
  .hero_section_img2,
  .hero_section_img1 {
    display: none;
  }
  .hero_section_rhode2 {
    position: absolute;
    bottom: 190px;
    left: 286px;
  }
  .hero_section_content {
    padding: 0px 24px;
    margin-top: 159px;
    box-sizing: border-box;
  }
  .hero_section_content .content_subTitle {
    max-width: 300px;
  }
  .hero_section_content .content_title {
    font-size: 35px;
  }
  .hero_section_content .content_container {
    width: 100%;
  }
  .hero_section_star1 {
    position: absolute;
    left: 225px;
    bottom: 50px;
  }
  .hero_section_rhode1 {
    left: 24px;
    top: 100px;
  }
  .hero_section_img3,
  .hero_section_img4 {
    bottom: -50px;
  }
  .hero_section_img3_3 {
    width: 45px;
    height: 280px;
  }
  .hero_section_img4_4 {
    width: 70px;
    height: 350px;
  }
}
