.hero_section_root {
  width: 100%;
  height: 868px;
  position: relative;
}
.hero_section_img1,
.hero_section_img2 {
  position: absolute;
  right: 0px;
  top: 0px;
  z-index: -1;
}
.hero_section_img3,
.hero_section_img4 {
  position: absolute;
  bottom: 0px;
  left: 0px;
  z-index: -1;
}
.hero_section_content {
  padding: 0px 150px;
  margin-top: 179px;
}
.hero_section_content .content_container {
  width: 605px;
}
.hero_section_content .content_title {
  font-size: 64px;
  font-weight: 700;
}
.hero_section_content .content_subTitle {
  margin-top: 24px;
  color: #6a757e;
  font-size: 24px;
  font-weight: 600;
}
.hero_section_content .download_our {
  margin-top: 24px;
  font-weight: 600;
  font-size: 16px;
  color: #6a757e;
}
.hero_section_content .download_btn_container {
  display: flex;
  justify-content: space-between;
  width: 384px;
  height: 56px;
  align-items: center;
  margin-top: 12px;
}
.hero_section_content .download_btn {
  height: 100%;
  width: 184px;
  background-color: black;
  border-radius: 30px;
  color: white;
  padding: 10px 15px;
  box-sizing: border-box;
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 14px;
  cursor: pointer;
}
.hero_section_rhode1 {
  position: absolute;
  top: 169px;
  left: 150px;
}
.hero_section_rhode2 {
  position: absolute;
  bottom: 150px;
  left: 677px;
}
.hero_section_star1 {
  position: absolute;
  left: 351px;
  bottom: 20px;
}

.full {
  font-family: 'NothingYouCouldDo';
  font-weight: 800;
  color: #4274ba;
}

@font-face {
  font-family: 'NothingYouCouldDo';
  src: url('/fonts/Nothing_You_Could_Do/NothingYouCouldDo-Regular.ttf')
    format('truetype');
}

@media (max-width: 1280px) {
  .hero_section_img2_2 {
    width: 630px;
    height: 640px;
  }
  .hero_section_img1 {
    width: 670px;
    height: 560px;
  }
  .hero_section_content .content_title {
    font-size: 54px;
  }
  .hero_section_content .content_subTitle {
    font-size: 20px;
  }
  .hero_section_content .download_our {
    font-size: 14px;
  }
}

@media (max-width: 1024px) {
  .hero_section_content {
    padding: 0px 100px;
    margin-top: 179px;
  }
  .hero_section_content .content_container {
    width: 555px;
  }
  .hero_section_content .content_title {
    font-size: 54px;
  }
  .hero_section_img2_2 {
    width: 530px;
    height: 540px;
  }
  .hero_section_img1 {
    width: 570px;
    height: 460px;
  }
  .hero_section_img3_3 {
    width: 120px;
    height: 400px;
  }
  .hero_section_img4_4 {
    width: 120px;
    height: 400px;
  }
  .hero_section_rhode1 {
    left: 100px;
  }
  .hero_section_root .rhodes {
    width: 48px;
    height: 72px;
  }
  .hero_section_root .star {
    width: 70px;
    height: 70px;
  }
}

@media (max-width: 768px) {
  .hero_section_content {
    padding: 0px 50px;
    margin-top: 159px;
  }
  .hero_section_content .content_container {
    width: 400px;
  }
  .hero_section_content .content_title {
    font-size: 44px;
  }
  .hero_section_img2_2 {
    width: 430px;
    height: 440px;
  }
  .hero_section_img1 {
    width: 470px;
    height: 360px;
  }
  .hero_section_img3_3 {
    width: 90px;
    height: 350px;
  }
  .hero_section_img4_4 {
    width: 90px;
    height: 350px;
  }
  .hero_section_rhode1 {
    left: 50px;
  }
}
