.history_root {
  padding: 24px;
}
.history_header {
  width: 100%;
  background-color: #fafafa;
  height: 48px;
  display: flex;
  align-items: center;
}
.history_innner_header {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 14px;
  font-weight: 700;
  color: #5e5d6f;
  padding-right: 20px;
}
.history_back_btn {
  display: flex;
  align-items: center;
  cursor: pointer;
  font-weight: 600;
  color: #5e5d6f;
}
.left_arrow_icon {
  width: 24px;
  height: 24px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding-left: 20px;
  padding-right: 16px;
}
.history_title {
  margin-top: 24px;
  width: 100%;
  background-color: #007bff;
  display: flex;
  flex-direction: row;
  padding: 24px;
  box-sizing: border-box;
  border-radius: 5px;
  position: relative;
}
.img_holder {
  width: 84px;
  height: 84px;
  background-color: #f0f0f0;
  border-radius: 50%;
}
.history_skill_text {
  font-size: 30px;
  color: white;
  font-weight: 600;
}
.history_no_of_attempts_left {
  position: absolute;
  right: 24px;
  font-size: 16px;
  top: 24px;
}
.history_skill_description {
  margin-top: 5px;
  color: white;
}
.history_table_container {
  margin-top: 20px;
}
.history_quiz_table {
  width: 100%;
  border-collapse: separate;
  position: relative;
  height: 100%;
  table-layout: fixed;
  border-spacing: 0 24px;
}

.history_quiz_table th,
.history_quiz_table td {
  text-align: center;
  box-sizing: border-box;
  width: calc(100% / 3);
}

.history_quiz_table td {
  padding: 17px 12px;
  color: #6a757e;
}
.history_quiz_table tbody tr {
  position: relative;
  background: white;
  box-shadow: rgba(46, 46, 46, 0.1) 0px 0px 5px;
}
.history_table_first_data {
  position: relative;
}

.history_table_first_data::before {
  content: '';
  position: absolute;
  left: -1px;
  top: 0;
  bottom: 0;
  width: 3px;
  background-color: #007bff;
}

.history_quiz_table th {
  background-color: #f8f8f8;
  font-weight: 600;
  color: #5e5d6f;
  padding: 14px 12px;
}
.history_quiz_status {
  border: 1px solid #00ff00;
  width: 70px;
  height: 32px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 20px;
  background-color: #edffed;
  color: black;
}
.history_title_code_text {
  margin-left: 20px;
}

@media (max-width: 900px) {
  .history_skill_text {
    font-size: 25px;
  }
  .history_title_code_text {
    margin-left: 0px;
  }
  .img_holder {
    display: none;
  }
  .history_skill_description {
    font-size: 15px;
  }
  .history_quiz_table th,
  .history_quiz_table td {
    font-size: 15px;
  }
  .history_quiz_status {
    font-size: 14px;
    width: 60px;
    height: 28px;
  }
}

@media (max-width: 730px) {
  .history_table_container {
    max-width: 500px;
    overflow-x: scroll;
  }
  .history_quiz_table {
    width: 700px;
  }
}

@media (max-width: 375px) {
  .history_no_of_attempts_left {
    position: initial;
    margin-top: 10px;
    margin-bottom: 10px;
  }
}

.history_root_dark .history_header,
.history_root_dark .history_title,
.history_root_dark .history_quiz_table th,
.history_root_dark .history_quiz_table tbody tr {
  background-color: #1d1d1d;
  color: white;
}
.history_root_dark .history_back_btn,
.history_root_dark .history_quiz_table td {
  color: white;
}
