.change_password_root {
  padding: 24px;
}
.change_password_form {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  margin-top: 64px;
}
.change_password_form_item .change_password_input {
  margin-top: 10px;
  padding: 12px;
  border-radius: 10px;
  border: 1px solid #e7ebe6;
  font-size: 16px;
  width: 100%;
  box-sizing: border-box;
}
.change_password_form_item .form_item {
  display: flex;
  flex-direction: column;
  margin-bottom: 24px;
  position: relative;
  width: 652px;
}
.change_password_see_password {
  position: absolute;
  right: 15px;
  bottom: 5px;
}
.change_password_form label {
  font-weight: 600;
  font-size: 16px;
}
.change_password_confirm_btn {
  width: 100%;
  padding: 12px;
  box-sizing: border-box;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #4274ba;
  border-radius: 10px;
  color: white;
  font-weight: 600;
  margin-top: 40px;
}
.change_password_popup {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  padding: 40px 94px;
  box-sizing: border-box;
}
.change_password_popup_text {
  width: 100%;
}
.change_password_popup p {
  font-weight: 600;
  text-align: center;
  color: #333a41;
}
.change_password_popup div {
  text-align: center;
  width: 100%;
  color: #6a757e;
  font-weight: 600;
}

@media (max-width: 768px) {
  .change_password_form_item .form_item,
  .change_password_form,
  .change_password_form_item {
    width: 100%;
  }
  .change_password_popup {
    padding: 20px 35px;
  }
}

@media (max-width: 450px) {
  .change_password_popup {
    padding: 10px 15px;
  }
}

@media (max-width: 320px) {
  .change_password_popup {
    padding: 10px 12px;
  }
  .change_password_popup div {
    font-size: 14px;
  }
}
