.resetpassword_root {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
}
.resetpassword_container {
  display: flex;
  width: 1232px;
  position: relative;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  height: 816px;
}
.techwings_logo_resetpassword {
  position: absolute;
  left: 0px;
  top: 0px;
}
.resetpassword_form {
  width: 640px;
}
.resetpassword_title {
  font-size: 40px;
  font-weight: 700;
  margin-top: 16px;
}
.resetpassword_root p {
  font-size: 15px;
  color: #5e5d6f;
}
.resetpassword_root .form_item {
  margin-top: 24px;
  display: flex;
  flex-direction: column;
}
.resetpassword_root label {
  font-size: 16px;
  font-weight: 600;
}
.resetpassword_root .input {
  width: 100%;
  padding: 13.5px 0px 13.5px 15px;
  margin-top: 10px;
  border-radius: 10px;
  outline-color: #4274ba;
  border: 1px solid #cbcbcc;
  font-size: 16px;
  box-sizing: border-box;
}
.resetpassword_root .password_input {
  width: 100%;
  position: relative;
  display: flex;
}
.resetpassword_root .see_password {
  position: absolute;
  right: 20px;
  top: 22px;
  cursor: pointer;
}
