.settings_root {
  padding: 24px;
}
.settings_base_header {
  width: 100%;
  background-color: #fafafa;
  height: 48px;
  display: flex;
  align-items: center;
  font-size: 14px;
  font-weight: 700;
  color: #5e5d6f;
  justify-content: center;
}
.settings_option_container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
}
.settings_base_option {
  width: 49%;
  margin-top: 24px;
}
.settings_label {
  color: #9a9a9a;
  font-weight: 600;
}
.settings_label2 {
  color: #9a9a9a;
  font-weight: 600;
  margin-top: 16px;
}
.settings_base_option_button {
  width: 100%;
  background-color: #ecf4ff;
  margin-top: 16px;
  border-radius: 8px;
  padding: 20px 18px;
  box-sizing: border-box;
  display: flex;
  align-items: center;
  justify-content: space-between;
  cursor: pointer;
}
.settings_base_option_button2 {
  width: 49%;
  background-color: #ecf4ff;
  margin-top: 16px;
  border-radius: 8px;
  padding: 20px 18px;
  box-sizing: border-box;
  display: flex;
  align-items: center;
  justify-content: space-between;
  cursor: pointer;
}
.first_section {
  display: flex;
  align-items: center;
  gap: 26px;
}
.settings_base_option_text {
  font-size: 16px;
  font-weight: 600;
  color: #6a757e;
}
.decision_title {
  text-align: center;
  width: 100%;
  font-size: 18px;
}
.decision_container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  margin-top: 20px;
}
.decision_btn {
  width: 47%;
  border: 1px solid #cbcbcc;
  height: 45px;
  border-radius: 8px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  font-weight: 600;
}
.delete_account_popup {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  padding: 40px 94px;
  box-sizing: border-box;
}
.delete_account_text {
  width: 100%;
}
.delete_account_popup p {
  font-weight: 600;
  text-align: center;
  color: #333a41;
}
.delete_account_popup div {
  text-align: center;
  width: 100%;
  color: #6a757e;
  font-weight: 600;
}

@media (max-width: 768px) {
  .settings_base_option_button2,
  .settings_base_option {
    width: 100%;
  }
}

@media (max-width: 450px) {
  .settings_base_option_text {
    font-size: 14px;
  }
  .settings_label2,
  .settings_label {
    font-size: 15px;
  }
  .settings_base_option_button,
  .settings_base_option_button2 {
    padding: 15px 15px;
  }
}

/* Dark mode style */
.settings_root_dark .settings_base_header {
  background-color: #1d1d1d;
  color: white;
}

.settings_root_dark .settings_base_option_button {
  width: 100%;
  box-shadow: rgba(255, 255, 255, 0.7) 0px 1px 4px;
  background-color: black;
  margin-top: 16px;
  border-radius: 8px;
  padding: 20px 18px;
  box-sizing: border-box;
  display: flex;
  align-items: center;
  justify-content: space-between;
  cursor: pointer;
}
.settings_root_dark .settings_base_option_button2 {
  width: 49%;
  box-shadow: rgba(255, 255, 255, 0.7) 0px 1px 4px;
  background-color: black;
  margin-top: 16px;
  border-radius: 8px;
  padding: 20px 18px;
  box-sizing: border-box;
  display: flex;
  align-items: center;
  justify-content: space-between;
  cursor: pointer;
}
.settings_root_dark .settings_base_option_text {
  color: white;
}
