.logout_option {
  display: none;
}
.menu-arrow::before {
  content: '';
  display: block;
  position: absolute;
  top: 0;
  right: 18px;
  width: 10px;
  height: 10px;
  background-color: white; /* or use the corresponding variable for 'background.paper' */
  transform: translateY(-50%) rotate(45deg);
  z-index: 0;
}

.help_center_send_msg_btn {
  padding: 14px 20px;
  border-radius: 20px;
  margin-top: 16px;
  background-color: #007bff;
  color: white;
  border: none;
  cursor: pointer;
  font-size: 15px;
}
.help_centre_cancel_btn {
  position: absolute;
  right: 0px;
  top: 3px;
  cursor: pointer;
}

@media (max-width: 450px) {
  .logout_option {
    display: block;
  }
  .menu-arrow::before {
    content: '';
    display: block;
    position: absolute;
    top: 0;
    left: 27px;
    width: 10px;
    height: 10px;
    background-color: white; /* or use the corresponding variable for 'background.paper' */
    transform: translateY(-50%) rotate(45deg);
    z-index: 0;
  }
}
