.expand_potential_root {
  width: 100%;
  height: 915px;
  background: linear-gradient(to bottom, #22272e 0%, #04152d 80%, #007BFF 100%);
  padding: 93px 120px;
  box-sizing: border-box;
  position: relative;
}
.expand_potential_container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.expand_potential_title {
  padding: 8px 12px;
  background: linear-gradient(to right, #007BFF99 0%, #00000000 70%);
  color: white;
  border-radius: 10px;
  font-weight: 600;
}
.expand_potential_subTitle {
  max-width: 1086px;
  font-size: 40px;
  font-weight: 900;
  text-align: center;
  color: white;
  margin-top: 21px;
}
.expand_potential_subTitle span {
  font-family: 'NothingYouCouldDo';
  font-weight: 800;
  color: #fdc231;
}
.expand_potential_root .laptop_picture {
  position: absolute;
  bottom: -5px;
}

@font-face {
  font-family: 'NothingYouCouldDo';
  src: url('/fonts/Nothing_You_Could_Do/NothingYouCouldDo-Regular.ttf')
    format('truetype');
}

@media (max-width: 1024px) {
  .laptop_picture_main {
    width: 900px;
  }
}

@media (max-width: 1145px) {
  .laptop_picture_main {
    width: 850px;
  }
}

@media (max-width: 875px) {
  .laptop_picture_main {
    width: 750px;
  }
  .expand_potential_subTitle {
    font-size: 35px;
  }
}

@media (max-width: 768px) {
  .expand_potential_root {
    width: 100%;
    height: 715px;
    padding: 93px 100px;
  }
  .laptop_picture_main {
    width: 600px;
  }
  .expand_potential_subTitle {
    font-size: 30px;
  }
}
