.home_nav_bar_root {
  width: 100%;
}
.home_nav_bar_root .main {
  display: flex;
  padding: 20px 72px;
  justify-content: space-between;
  align-items: center;
  box-sizing: border-box;
  width: 100%;
}
.home_nav_btn_container {
  display: flex;
  align-items: center;
  gap: 24px;
}
.mobile_home_nav_btn_container,
.home_mobile_nav_bar_options {
  display: none;
}
.home_nav_btn {
  color: white;
  font-size: 15px;
  font-weight: 600;
  cursor: pointer;
}
.home_nav_getStarted {
  padding: 8px 15px;
  background-color: #4274ba;
  border-radius: 20px;
  border: none;
  font-size: 15px;
  color: white;
  font-weight: 600;
  cursor: pointer;
}
.get_started_container {
  position: relative;
}
.get_started_options {
  background-color: white;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
  width: 100%;
  position: absolute;
  margin-top: 10px;
  border-radius: 10px;
  box-sizing: border-box;
  overflow: hidden;
}
.get_started_options_tab {
  height: 20px;
  padding: 10px;
  font-weight: 600;
}
.get_started_options_tab:hover {
  background-color: #4274ba;
  color: white;
  cursor: pointer;
}

@media (max-width: 768px) {
  .home_nav_bar_root .main {
    padding: 20px 42px;
    box-sizing: border-box;
  }
  .home_nav_btn,
  .home_nav_getStarted {
    font-size: 14px;
  }
}

@media (max-width: 450px) {
  .homeNav_techwings_logo_main {
    width: 137px;
  }
  .home_nav_btn_container {
    display: none;
  }
  .home_nav_bar_root .main {
    padding: 20px 24px;
    box-sizing: border-box;
  }
  .mobile_home_nav_btn_container {
    display: block;
  }
  .home_mobile_nav_bar_options {
    display: block;
    background-color: #4274ba;
    width: 100%;
    position: absolute;
    display: flex;
    flex-direction: column;
    padding: 10px 0px;
  }
  .home_mobile_nav_bar_options_btn {
    /* background-color: red; */
    padding: 15px 20px;
    box-sizing: border-box;
    color: white;
    font-weight: 600;
  }
}
