.home_nav_bar_root {
  width: 100%;
  position: fixed;
  top: 0;
  z-index: 999;
}
.transparent {
  background: transparent;
}

.scrolled {
  background: rgba(255, 255, 255, 0.7);
  /* background: rgba(0, 0, 0, 0.3); */
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
}
.home_nav_bar_root .main {
  display: flex;
  padding: 0px 72px;
  justify-content: space-between;
  align-items: center;
  box-sizing: border-box;
  width: 100%;
  position: relative;
}
.home_nav_btn_container {
  display: flex;
  align-items: center;
  gap: 24px;
}
.homeNav_techwings_logo {
  width: 250px;
  height: 100px;
}
.logo_absolute {
  position: absolute;
  top: -30px;
}
.mobile_home_nav_btn_container,
.home_mobile_nav_bar_options {
  display: none;
}
.home_nav_btn {
  color: white;
  font-size: 18px;
  font-weight: 600;
  cursor: pointer;
}
.home_nav_getStarted {
  padding: 8px 15px;
  background-color: #007bff;
  border-radius: 20px;
  border: none;
  font-size: 16px;
  color: white;
  font-weight: 600;
  cursor: pointer;
}
.get_started_container {
  position: relative;
}
.get_started_options {
  background-color: white;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
  width: 100%;
  position: absolute;
  margin-top: 10px;
  border-radius: 10px;
  box-sizing: border-box;
  overflow: hidden;
}
.get_started_options_tab,
.get_started_options_tab_admin {
  height: 20px;
  padding: 10px;
  font-weight: 600;
}
.get_started_options_tab:hover,
.get_started_options_tab_admin:hover {
  background-color: #007bff;
  color: white;
  cursor: pointer;
}

@media (max-width: 790px) {
  .home_nav_bar_root .main {
    padding: 0px 42px;
    box-sizing: border-box;
  }
  .logo_absolute {
    position: absolute;
    left: 21px;
  }
}

@media (max-width: 768px) {
  .home_nav_bar_root .main {
    padding: 0px 42px;
    box-sizing: border-box;
  }
  .logo_absolute {
    position: absolute;
    top: 0px;
  }
  .home_nav_btn,
  .home_nav_getStarted {
    font-size: 14px;
  }
  .get_started_options_tab_admin {
    display: none;
  }
}

@media (max-width: 450px) {
  .homeNav_techwings_logo {
    width: 150px;
    height: 80px;
  }
  .logo_absolute {
    position: absolute;
    top: -13px;
    left: 0px;
  }
  .home_nav_btn_container {
    display: none;
  }
  .home_nav_bar_root .main {
    padding: 0px 24px;
    box-sizing: border-box;
  }
  .mobile_home_nav_btn_container {
    display: block;
    /* margin-left: 24px; */
  }
  .home_mobile_nav_bar_options {
    display: block;
    background-color: #0d1321;
    width: 100%;
    position: absolute;
    display: flex;
    flex-direction: column;
    padding: 10px 0px;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
  }
  .home_mobile_nav_bar_options_btn {
    /* background-color: red; */
    padding: 15px 20px;
    box-sizing: border-box;
    color: white;
    font-weight: 600;
  }
}
