.home_nav_bar_root {
  display: flex;
  padding: 20px 72px;
  justify-content: space-between;
  align-items: center;
}
.home_nav_btn_container {
  display: flex;
  align-items: center;
  gap: 24px;
}
.home_nav_btn {
  color: white;
  font-size: 15px;
  font-weight: 600;
  cursor: pointer;
}
.home_nav_getStarted {
  padding: 8px 15px;
  background-color: #4274ba;
  border-radius: 20px;
  border: none;
  font-size: 15px;
  color: white;
  font-weight: 600;
  cursor: pointer;
}
.get_started_container {
  position: relative;
}
.get_started_options {
  background-color: white;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
  width: 100%;
  position: absolute;
  margin-top: 10px;
  border-radius: 10px;
  box-sizing: border-box;
  overflow: hidden;
}
.get_started_options_tab {
  height: 20px;
  padding: 10px;
  font-weight: 600;
}
.get_started_options_tab:hover {
  background-color: #4274ba;
  color: white;
  cursor: pointer;
}

@media (max-width: 768px) {
  .home_nav_bar_root {
    padding: 20px 42px;
  }
  .home_nav_btn,
  .home_nav_getStarted {
    font-size: 14px;
  }
}
