.settings_content {
  border: 1px solid #cbcbcc;
  width: 100%;
  padding: 24px;
  box-sizing: border-box;
  border-radius: 8px;
}
.settings_main {
  max-width: 1108px;
}
.settings_page_header {
  color: #4274ba;
  font-size: 16px;
}
.settings_page_subHeader {
  color: #6a757e;
  font-size: 14px;
  margin-top: 8px;
}
.settings_page_profile_pic {
  width: 144px;
  height: 144px;
  border-radius: 50%;
  margin-top: 16px;
  position: relative;
}
.profile_edit {
  position: absolute;
  bottom: 5px;
  right: 5px;
}
.profile_form_item {
  margin-top: 16px;
  display: flex;
  flex-direction: column;
  position: relative;
}
.profile_input_item {
  width: 100%;
  max-width: 100%;
  padding: 14px 10px;
  box-sizing: border-box;
  margin-top: 10px;
  border: 1px #e7ebe6 solid;
  border-radius: 10px;
  outline-color: #4274ba;
  font-size: 15px;
  appearance: none;
  background-color: white;
  text-align: left;
  color: inherit;
}

.settings_edit_btn {
  width: 172px;
  height: 45px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  background-color: #4274ba;
  border-radius: 8px;
  cursor: pointer;
  font-size: 12px;
  border: none;
}
.settings_edit_btn_container {
  width: 100%;
  display: flex;
  justify-content: flex-end;
  margin-top: 16px;
}
.profile_custom_select {
  margin-top: 10px;
}
.add_another_entry_2 {
  display: flex;
  width: 100%;
  justify-content: flex-end;
  margin-top: 12px;
}
.add_another_entry_2 .content {
  width: 142px;
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #4274ba;
  cursor: pointer;
}
.profile_form_item label {
  font-weight: 600;
  font-size: 16px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.settings_profile_searchInput {
  width: 100%;
  padding: 13.5px 10px 12.5px 15px;
  margin-top: 10px;
  border-radius: 10px;
  outline-color: #4274ba;
  border: 1px solid #cbcbcc;
  box-sizing: border-box;
  display: flex;
  align-items: center;
}
.settings_profile_searchInput .input {
  height: 100%;
  font-size: 16px;
  outline: none;
  border: none;
  width: 95%;
}
.settings_profile_skills_dropdown {
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  position: absolute;
  width: 100%;
  background-color: white;
  padding: 20px;
  box-sizing: border-box;
  margin-top: 10px;
  border-radius: 10px;
  top: 80px;
}
.profile_pageone_form_item {
  margin-top: 24px;
}
.profile_pageone_form_item label {
  font-weight: 600;
  font-size: 16px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.multi_select_interest {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  width: 100%;
  /* background-color: red; */
}
.profile_pageone_form_item .interests {
  padding: 16px;
  width: 49%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border: 1px solid #e7ebe6;
  border-radius: 15px;
  margin-top: 10px;
  cursor: pointer;
  box-sizing: border-box;
}
.profile_input_textarea {
  width: 100%;
  height: 116px;
  resize: none;
  padding: 13.5px 15px 13.5px 15px;
  margin-top: 10px;
  border-radius: 10px;
  outline-color: #4274ba;
  border: 1px solid #e7ebe6;
  font-size: 16px;
  box-sizing: border-box;
}
.remove_entry_button {
  display: flex;
  align-items: center;
}

@media (max-width: 1024px) {
  .settings_main {
    max-width: 100%;
  }
  .settings_profile_searchInput {
    padding: 13.5px 20px 12.5px 15px;
  }
}

@media (max-width: 768px) {
  .settings_profile_searchInput .input {
    width: 90%;
  }
  .settings_profile_searchInput {
    padding: 13.5px 5px 12.5px 15px;
  }
}

@media (max-width: 430px) {
  .profile_form_item label,
  .profile_input_item {
    font-size: 14px;
  }
  .settings_edit_btn {
    width: 130px;
    height: 40px;
    font-size: 14px;
  }
  .settings_profile_searchInput {
    padding: 13.5px 20px 12.5px 15px;
  }
  .settings_profile_searchInput .input {
    width: 100%;
  }
  .profile_pageone_form_item .interests {
    font-size: 14px;
  }
  /* For WebKit-based browsers (Safari, Chrome on iOS and Android) */
  input[type='date'].profile_input_item::-webkit-inner-spin-button,
  input[type='date'].profile_input_item::-webkit-calendar-picker-indicator {
    display: none;
    -webkit-appearance: none;
  }
}
